html {
  height: 100%;
  position: relative; }

body {
  height: 100%;
  position: relative; }

img {
  max-width: 100%; }

#app-container {
  height: 100%;
  position: relative; }

.ac-navigation .ac-link {
  margin: 0 1rem; }

.ac-link {
  color: #D81F52;
  cursor: pointer; }

.ac-heading {
  font-size: 4rem;
  padding: 3rem 0;
  margin: 0; }
  .ac-heading--secondary {
    font-size: 2rem; }
  .ac-heading--center {
    width: 100%;
    text-align: center; }
  .ac-heading--sub {
    padding-top: 0;
    padding-bottom: 1rem; }

.slideshow .strikethrough {
  text-decoration: line-through; }

.slideshow p::selection {
  background: #fff000; }

.slideshow.slideshow--primary {
  position: relative;
  height: 100%; }
  .slideshow.slideshow--primary .ac-navigation {
    padding-left: 5rem;
    padding-right: 5rem;
    height: 10vh;
    display: flex;
    align-items: center; }
    .slideshow.slideshow--primary .ac-navigation .ac-link:first-child {
      margin-left: 0; }
  .slideshow.slideshow--primary .ac-slide {
    overflow: hidden; }
    .slideshow.slideshow--primary .ac-slide.ac-slide--secondary {
      padding-top: 5vh;
      padding-bottom: 5vh; }

.slideshow .ac-link {
  color: #D81F52; }

.slideshow .ac-slide {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 80%;
  animation: showNav 250ms ease-in-out both;
  padding: 3%; }
  .slideshow .ac-slide.active {
    display: flex; }
  .slideshow .ac-slide .ac-slide__section {
    width: 100%;
    display: flex;
    justify-content: center; }
    .slideshow .ac-slide .ac-slide__section .ac-slide__text {
      width: 45%;
      text-align: center; }
  .slideshow .ac-slide .ac-slide__text {
    font-size: 1.5em;
    width: 90%; }
  .slideshow .ac-slide.ac-slide--primary .ac-slide__heading {
    background: #D81F52;
    color: #fff; }
  .slideshow .ac-slide.ac-slide--primary .ac-slide__text {
    color: #D81F52; }
  .slideshow .ac-slide.ac-slide--secondary, .slideshow .ac-slide .ac-slide--tertiary {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #fff;
    align-items: flex-start; }
    .slideshow .ac-slide.ac-slide--secondary .ac-slide__heading, .slideshow .ac-slide .ac-slide--tertiary .ac-slide__heading {
      padding: 2rem 0; }
  .slideshow .ac-slide.ac-slide--secondary {
    background: #D81F52; }
  .slideshow .ac-slide.ac-slide--tertiary {
    background: #282c34; }
    .slideshow .ac-slide.ac-slide--tertiary .ac-heading {
      font-size: 2rem;
      padding: 1rem 0; }

.ac-collection.ac-collection--reveal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .ac-collection.ac-collection--reveal .ac-collection__item {
    opacity: 0;
    transition: opacity 1s linear; }
    .ac-collection.ac-collection--reveal .ac-collection__item--active {
      opacity: 1; }
    .ac-collection.ac-collection--reveal .ac-collection__item--primary {
      width: 100%;
      font-size: 1.3rem; }
    .ac-collection.ac-collection--reveal .ac-collection__item--strikethrough p {
      text-decoration: line-through; }

hr {
  border-bottom: 2px solid #fff;
  border-top: 0;
  outline: 0;
  height: 2px;
  width: 0;
  transition: width .2s linear; }

a.restart {
  display: inline-block;
  background: #fff;
  padding: .5em 1em;
  cursor: pointer; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%; }

.slide ul {
  list-style: none;
  padding-left: 0; }

.slide li, .slide p {
  display: block;
  padding: .5em;
  background: #fff; }

.slide .slide__title {
  width: 100%; }

#pause {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 5em;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  height: 100%;
  justify-content: center; }
  #pause div {
    align-self: center; }
