html {
    height: 100%;
    position: relative;
}

body {
    height: 100%;
    position: relative;
}

img {
    max-width: 100%;
}

$pink: #D81F52;
$blue: #4CA5D2;
$purple: #8478C4;
$orange: #EE7101;
$green: #265851;
$grey: #282c34;

#app-container {
    height: 100%;
    position: relative;
}

.ac-navigation {
    .ac-link {
        margin: 0 1rem;
    }
}

.ac-link {
    color: $pink;
    cursor: pointer;
}

.ac-heading {
    font-size: 4rem;
    padding: 3rem 0;
    margin: 0;
    &--secondary {
        font-size: 2rem;
    }
    &--center {
        width: 100%;
        text-align: center;
    }
    &--sub {
        padding-top: 0;
        padding-bottom: 1rem;
    }
}

.slideshow {

    .strikethrough {
        text-decoration: line-through;
    }

    p::selection {
        background: #fff000;
    }

    // Primary Slideshow
    &.slideshow--primary {
        position: relative;
        height: 100%;

        .ac-navigation {
            padding-left: 5rem;
            padding-right: 5rem;
            height: 10vh;

            display: flex;
            align-items: center;

            .ac-link {
                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .ac-slide {
            overflow: hidden;
            &.ac-slide--secondary {
                padding-top: 5vh;
                padding-bottom: 5vh;
            }
        }

    }
    .ac-link {
        color: $pink;
    }

    .ac-slide {
        display: none;
        flex-direction: column;
        align-items: center;
        height: 80%;
        animation: showNav 250ms ease-in-out both;
        padding: 3%;


        &.active {
            display: flex;
        }
        .ac-slide__section {
            width: 100%;
            display: flex;
            justify-content: center;
            .ac-slide__text {
                width: 45%;
                text-align: center;
            }
        }
        .ac-slide__text {
            font-size: 1.5em;
            width: 90%;
        }
        &.ac-slide--primary {
            .ac-slide__heading {
                background: $pink;
                color: #fff;
            }
            .ac-slide__text {
                color: $pink;
            }
        }
        &.ac-slide--secondary, .ac-slide--tertiary {
            padding-top: 5rem;
            padding-bottom: 5rem;
            color: #fff;
            align-items: flex-start;
            .ac-slide__heading {
                padding: 2rem 0;
            }
        }
        &.ac-slide--secondary {
            background: $pink;
        }
        &.ac-slide--tertiary {
            background: $grey;
            .ac-heading {
                font-size: 2rem;
                padding: 1rem 0;
            }
        }
    }


}

.ac-collection {
    &.ac-collection--reveal {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .ac-collection__item {
            opacity: 0;
            transition: opacity 1s linear;
            &--active {
                opacity: 1;
            }
            &--primary {
                width: 100%;
                font-size: 1.3rem;
            }
            &--strikethrough {
                p {
                    text-decoration: line-through;
                }
            }
        }
    }
}

hr {
  border-bottom: 2px solid #fff;
  border-top: 0;
  outline: 0;
  height: 2px;
  width: 0;
  transition: width .2s linear;
}

a.restart {
  display: inline-block;
  background: #fff;
  padding: .5em 1em;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
}

.slide {
  // display: none;
  // transition: opacity 1s linear;
  // opacity: 0;
  // color: #fff;
  ul {
    list-style: none;
    padding-left: 0;
  }
  li, p {
    display: block;
    padding: .5em;
    background: #fff;
  }

    .slide__title {
        width: 100%;
    }
}

#pause {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 5em;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    height: 100%;
    justify-content: center;
    div {
        align-self: center;
    }
}
