<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src='js/data.js'></script>
        <script src='http://cdn.ractivejs.org/latest/ractive.js'></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="app-container">

        </div>

        <script type="text/html" id="template">
            <div class="{{class}}{{#theme}} {{class}}--{{theme}}{{/theme}}">
                <ac-navigation collection="{{navigation.collection}}" class="{{navigation.class}}"></ac-navigation>
                <ac-slideshow collection="{{slides.collection}}" active="{{active}}"></ac-slideshow>
            </div>
        </script>

        <script type="text/html" id="acHeading">
            {{#if emphasis == 1}}
                <h1 class="ac-heading{{#class}} ac-heading--{{class}} ac-heading--{{theme}}{{/class}}">{{yield}}</h1>
            {{elseif emphasis == 2}}
                <h2 class="ac-heading{{#class}} ac-heading--{{class}} ac-heading--{{theme}}{{/class}}">{{yield}}</h2>
            {{elseif emphasis == 3}}
                <h3 class="ac-heading{{#class}} ac-heading--{{class}} ac-heading--{{theme}}{{/class}}">{{yield}}</h3>
            {{elseif emphasis == 4}}
                <h4 class="ac-heading{{#class}} ac-heading--{{class}} ac-heading--{{theme}}{{/class}}">{{yield}}</h4>
            {{/if}}
        </script>

        <script type="text/html" id="acNavigation">
            <header class="ac-{{class}}">
                <nav on-click="switchActivePlus">
                    {{#each collection}}
                        <ac-anchor item="{{this}}">{{label}}</ac-anchor>
                    {{/each}}
                </nav>
            </header>
        </script>

        <script type="text/html" id="acAnchor">
            <a class="ac-{{item.class}}" on-click="@this.fire('performAction', item.action)">{{yield}}</a>
        </script>

        <script type="text/html" id="acCollection">
            <div class="ac-collection ac-collection--reveal">
                {{#each collection}}
                    <div class="ac-collection__item{{#active}} ac-collection__item--active{{/active}}{{#theme}} ac-collection__item--{{theme}}{{/theme}}{{#type}} ac-collection__item--{{type}}{{/type}}">
                        {{{body}}}
                    </div>
                {{/each}}
            </div>
        </script>

        <script type="text/html" id="acSlideshow">

            {{#collection}}
                <section class="ac-{{class}} ac-{{class}}--{{theme}}{{active == @index ? ' active' : ''}}">
                    {{#if label.body}}
                        <ac-heading emphasis="{{label.emphasis}}" class="{{label.class}}" theme="{{label.theme}}">{{label.body}}</ac-heading>
                    {{else}}
                        <ac-heading emphasis="3">{{label}}</ac-heading>
                    {{/if}}

                    {{#if body.label}}
                        <ac-heading emphasis="{{body.label.emphasis}}" class="{{body.label.class}}" theme="{{body.label.theme}}">{{body.label.body}}</ac-heading>
                    {{/if}}

                    {{#if body.sections}}
                        <section class="ac-{{class}}__section">
                            {{#each body.sections}}
                            <div class="ac-{{class}}__text">
                                {{{body}}}
                            </div>
                            {{/each}}
                        </section>
                    {{elseif body}}
                        <div class="ac-{{class}}__text">
                            {{{body}}}
                        </div>
                    {{/if body.sections}}

                    {{#if collection}}
                        <ac-collection collection="{{collection}}"></ac-collection>
                    {{/if}}
                </section>
            {{/collection}}
        </script>



        <script src="js/plugins.js"></script>
        <script src="js/ractive.js"></script>

    </body>
</html>
